div {
  width: 90%;
  margin: 5% 5%;

  p {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: white;
  }
  table {
    width: 100%;
    border-spacing: inherit;
    background-color: white;
    text-align: center;
    tr {
      td {
        border: 1px solid;
      }
      .name {
        background-color: #95d1cc;
        width: 33.333%;
      }
      .age {
        @extend .name;
      }
      .action {
        @extend .name;
      }

      .delete {
        cursor: pointer;
        background-color: #f6f2d4;
      }
      td {
        form {
          display: flex;
          .first {
            width: 32.7%;
          }
        }
      }
    }
  }
}
